/* @import url(//fonts.googleapis.com/css?family=Genos); */

@import url(//fonts.googleapis.com/css?family=Lora);

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@font-face {
  font-family: ParmigianoPiccoloPro;
  src: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/ParmigianoPiccoloPro-Reg.ttf?v=1731979529010");
}

@font-face {
  font-family: underwood_champion;
  src: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/underwood_champion.ttf?v=1731979665859");
}

/* Cuerpo de las páginas */

body {
  margin: 0;
  font-family: Wallpoet, serif;
  background-color: #ffffff;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  overflow-x: hidden;
}


div .pagina {
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.pagina img {
  padding: 2%;
  background-color: #c2c7c9;
}


/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 0 5%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}


header.bogotaneidad {
  background: #c1121f; /* Rojo */
}

header.enconcreto {
  background: #041b8c; /* Azul */
}


/* Contenido del header */

.circuloLogo {
  background-color: white;
  width: calc(15vh - 1vh);
  height: calc(15vh - 1vh);
  border-radius: 50%; /* Hace que el contenedor sea un círculo */
  overflow: hidden; /* Oculta las partes de la imagen que sobresalgan */
  display: flex; /* Centra la imagen dentro del círculo */
  justify-content: center;
  align-items: center;
}

.circuloLogo img {
  width: 100%; /* Ajusta el ancho al tamaño del círculo */
  height: 100%; /* Ajusta la altura al tamaño del círculo */
  object-fit: cover; /* Asegura que la imagen llene el círculo sin deformarse */
}

@media (max-width: 600px) {
  .circuloLogo {
    width: 10vh; /* Ajusta el tamaño del círculo */
    height: 10vh;
  }
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0; /* Elimina márgenes para evitar desplazamiento */
}

li {
  margin-right: 15px; /* Ajusta el margen derecho para evitar que se corte */
}

.separador {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
}

ul li a {
  color: white;
  font-family: "underwood_champion", sans-serif;
  text-align: center;
  text-wrap: no-wrap;
  text-decoration: none;
  font-size: 1.3rem;
}
/* Texto */

h1 {
  text-align: center;
  font-family: "underwood_champion", cursive;
  font-size: 5em;
  font-style: normal;
  text-shadow: -2px 1px 0px #FFFFFF, 2px -1px 0px #FFFFFF;
  
}

.titulosRojos {
  /* para el H1 en página de Párrafos */
  position: relative;
  margin-top: 100px;
  color: red;
}

h2 {
  font-family: "underwood_champion", sans-serif;
  margin-bottom: 5px;
  padding: 2%;
  margin-left: 2%;
  font-size: 3em;
}

h3 {
  font-family: "underwood_champion", sans-serif;
  font-size: 1.5em;
  margin-bottom: 1px;
  margin-top: 0px;
  text-align: center;
}

.pagina h3 {
  text-align: justify;
  padding-left: 2%;
  margin-left: 2%;
}

h4 {
  font-family: "underwood_champion", sans-serif;
  margin-bottom: 0px;
}

.tarjeta a {
  text-decoration: underline;
  color: black;
}

p {
  font-family: "underwood_champion", sans-serif;
  font-size: 1.5rem;
  z-index: 1;
  margin: auto;
  padding: 2%;
  text-align: justify;
  color: white;
  line-height: 25px;
  word-wrap: break-word;
  border-style: none;
  border-width: 5px;
}

footer p {
  color: black;
  margin-left:  2%;
  margin-right:  2%;
}


.contenido-articulo p {
  color: black;
  margin-left:  2%;
  margin-right:  2%;
}


/* Estilo para las tarjetas de los artículos */

.tarjetas-contenedor {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten a varias filas */
  gap: 20px; /* Espacio entre tarjetas */
  justify-content: center; /* Centra las tarjetas en el contenedor */
  padding: 20px;
}

.tarjeta {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px; /* Tamaño máximo de las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.tarjeta img {
  width: 100%; /* Imagen ocupa todo el ancho */
  aspect-ratio: 1/1;
  object-fit: cover;
}

.tarjeta-contenido {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Hace que el contenedor crezca según sea necesario */
  justify-content: space-between;
}

.tarjeta p {
  margin-bottom: 16px;
  font-size: 14px;
  color: #333333;
  flex-grow: 1;
}

.tarjeta button {
  
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
  transition: background-color 0.3s;
}
.tarjeta button.bogotaneidad {
  background-color: #c1121f;
}
.tarjeta button.enconcreto {
  background-color: #041b8c;
}
.tarjeta button:hover {
  background-color: #000000;
}

/* Diseño responsivo */
@media (min-width: 768px) {
  .tarjeta {
    flex: 1 1 calc(33.333% - 20px); /* Hasta 3 tarjetas por fila */
  }
}

/* Estilo Audio */

.audio-player {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boton-audio {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-audio img {
  width: 40px; /* Ajusta el tamaño de las imágenes */
  height: 40px;
}

.hidden {
  display: none; /* Oculta la imagen cuando no está activa */
}

.boton-audio:hover {
  background-color: #a10f1b;
}

.progress-container {
  flex-grow: 1;
  background: #dddddd;
  height: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#progress-bar {
  background: #c1121f;
  height: 100%;
  width: 0;
  border-radius: 5px;
}

span {
  font-size: 14px;
  color: #333333;
}


/* ----------Estilo para contenedor de iframe-----------*/

.contenedor-iframe {
  /* Para usar en video youtube, que se haga responsive */
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.contenedor-iframe iframe {
  /* el iframe que está dentro del contenedor-iframe */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
#introduccion {
  background-image: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/Paloma_integrada.gif?v=1731980538494");
}
#bogotaneidad {
  background-image: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/bogotaniedad-banner.jpeg?v=1732217844534");
  background-position: 0 -10px; 
}
#enconcreto {
  background-image: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/enconcreto-banner.jpeg?v=1732217812372");
}

.banner-articulo {
  background-size: contain; /* Ajusta la imagen al tamaño del contenedor manteniendo sus proporciones */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex; /* Opcional: permite ajustar el contenido interno */
  flex-direction: column; /* Opcional: organiza los elementos verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  aspect-ratio: 4/3; /* Opcional: Define una proporción fija para el contenedor */
  height: 500px; /* Permite que la altura se adapte a la imagen */
  width: 100%; /* Ajusta el ancho al 100% del contenedor principal */
  background-color: pink;
}


/* ----------Estilo para contenedor de video con iframe-----------*/

.contenedor-video {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #f5f5f5; /* Opcional, para un fondo gris claro */
}

.contenedor-video iframe {
  border: 5px solid #cccccc; /* Agrega un marco gris */
  border-radius: 8px; /* Bordes redondeados para un efecto más elegante */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

/* Imágenes en párrafo*/

.imgdoble {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%; /* Espaciado entre imágenes */
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.imgdoble figure {
  flex: 1 1 calc(50% - 2%); 
  margin-left: 5%;
  margin-right: 5%;
}

.imgdoble img {
  width: 100%; /* Ajusta la imagen al ancho de su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina espacios blancos por inline-block */
  border-radius: 8px; /* (Opcional) Bordes redondeados */
}

.imgdoble .images {
  display: flex;
  gap: 2%; /* Espaciado entre imágenes */
  justify-content: space-between; /* Espaciado uniforme */
  flex-wrap: nowrap; /* Evita que las imágenes salten a una nueva fila */
}

.imgdoble .images img {
  width: calc(50% - 1%); /* Cada imagen ocupa exactamente 50% menos el gap */
  height: auto; /* Mantiene las proporciones */
  border-radius: 8px; /* (Opcional) Bordes redondeados */
  flex-shrink: 0; /* Evita que las imágenes se reduzcan más allá de su tamaño calculado */
}

.imgdoble figcaption {
  text-align: center;
  font-size: 0.9rem;
  color: #555555;
  margin-top: 0.5rem;
  align-items: center;
}



/* -------------CONTENEDOR (PADRE E HIJOS) PARA PANTALLA DIVIDIDA--------*/

#contenedor-dividido {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: grey;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#contenedor-izquierdo {
  width: 60%;
  height: auto;
  background-color: green;
  display: inline-block;
  position: relative;
}

#contenedor-derecho {
  width: 40%;
  height: auto;
  background-color: blue;
  display: inline-block;
  position: relative;
}

#contenedor-derecho img {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#contenedor-izquierdo p {
  font-family: digital, serif;
  color: white;
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
  position: relative;
  text-align: justify;
}

#contenedor-izquierdo #contenedor-botones {
  background-color: lightblue;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
  transform: translateX(50%);
}

/* ------------Estilo para contenedor de botones página de botones---------*/

#contenedor-botones2 {
  width: 100%;
  background-color: lightblue;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

/* transformaciones y transiciones */
#trans {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 80px;
  overflow: hidden;
  text-align: center;
  transform: translate(300px, 200px) rotate(45deg) scale(2, 2)
    skew(15deg, 15deg) rotateX(50deg) rotateY(120deg) rotateZ(90deg);

  transition: width 2s, height 2s, background 2s, transform ease-in-out 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}

#trans:hover {
  width: 300px;
  height: 300px;
  background: yellow;
  transform: rotate(30deg);
  /*     transform: rotateX(30deg); */
}

/* -------------- POP UPS-------- */

.ventana-emergente {
  width: 400px;
  height: 300px;
  background-color: white;
  /*   margin-left: auto;
  margin-right: auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); /*restar 50% de él mismo una vez puesto el top de la coordenada en la mitad  */
  display: none; /* Este display no lo muestra */
}
