body {
  background-image: url("https://cdn.glitch.global/645ed8e7-30b6-46c3-a2b8-09f197e51ed2/n%C3%A9bula.png?v=1694995249097");
/*   background-color: lightgray; */
}

/* h1 {
  text-align: center;
} */




/* #contenedor-padre{
  width: 40%;
  height: 50px;
  background-color: blue;
  position: absolute;
}

#contenedor-hijo{
  width: 50%;
  height: 50%;
  background-color: red;
}

#contenedor-padre2{
  width: 40%;
  height: 50px;
  background-color: green;
  position: absolute;
} */

