/* @import url(//fonts.googleapis.com/css?family=Genos); */

@import url(//fonts.googleapis.com/css?family=Lora);

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@font-face {
  font-family: ParmigianoPiccoloPro;
  src: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/ParmigianoPiccoloPro-Reg.ttf?v=1731979529010");
}

@font-face {
  font-family: underwood_champion;
  src: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/underwood_champion.ttf?v=1731979665859");
}

/* Cuerpo de las páginas */

body {
  margin: 0;
  font-family: Wallpoet, serif;
  background-color: #669bbc;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


/* Estilo de los contenedores */

.infogeneral {
  margin-top: 300px;
}

/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex; /* Coloca los elementos en línea horizontal */
  justify-content: space-between; /* Espacia los elementos uniformemente */
  align-items: center; /* Centra verticalmente los elementos */
  width: 100%;
  height: 15vh; /* Usa una unidad relativa a la altura de la ventana */
  background: #c1121f;
  padding: 0 10vh; /* Evita que el contenido toque los bordes */
  box-sizing: border-box; /* Incluye el padding en el tamaño total */
}



/* Contenido del header */

.circuloLogo {
  background-color: white;
  height: calc(15vh - 1vh);
  aspect-ratio: 1 / 1; /* Mantén el círculo perfectamente redondo */
  border-radius: 50%; /* Hace que el contenedor sea un círculo */
  overflow: hidden; /* Oculta las partes de la imagen que sobresalgan */
  display: flex; /* Centra la imagen dentro del círculo */
  justify-content: center;
  align-items: center;
}

.circuloLogo img {
  width: 100%; /* Ajusta el ancho al tamaño del círculo */
  height: 100%; /* Ajusta la altura al tamaño del círculo */
  object-fit: cover; /* Asegura que la imagen llene el círculo sin deformarse */
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0; /* Elimina márgenes para evitar desplazamiento */
}

li {
  margin-right: 15px; /* Ajusta el margen derecho para evitar que se corte */
}

.separador {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

ul li a {
  color: white;
  font-family: "underwood_champion", sans-serif;
  text-align: center;
  text-wrap: no-wrap;
  text-decoration: none;
  font-size: 20px;
}
/* Texto */

h1 {
  text-align: center;
  font-family: "underwood_champion", cursive;
  font-size: 5em;
  font-style: normal;
  text-shadow: -2px 1px 0px #FFFFFF, 2px -1px 0px #FFFFFF;
  
}

.titulosRojos {
  /* para el H1 en página de Párrafos */
  position: relative;
  margin-top: 100px;
  color: red;
}

h2 {
  font-family: "underwood_champion", sans-serif;
  margin-bottom: 5px;
  font-size: 3em;
}

h3 {
  font-family: "underwood_champion", sans-serif;
  font-size: 1.5em;
  margin-bottom: 1px;
  margin-top: 0px;
  text-align: center;
}
h4 {
  font-family: "underwood_champion", sans-serif;
  margin-bottom: 0px;
}

.tarjeta a {
  text-decoration: underline;
  color: black;
}

p {
  font-family: "underwood_champion", sans-serif;
  font-size: 14px;
  z-index: 1;
  margin: auto;
  padding: 2%;
  text-align: justify;
  color: white;
  line-height: 25px;
  word-wrap: break-word;
  border-style: none;
  border-width: 5px;
}

/* Estilo para las tarjetas de los artículos */

.tarjetas-contenedor {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten a varias filas */
  gap: 20px; /* Espacio entre tarjetas */
  justify-content: center; /* Centra las tarjetas en el contenedor */
  padding: 20px;
}

.tarjeta {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px; /* Tamaño máximo de las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.tarjeta img {
  width: 100%; /* Imagen ocupa todo el ancho */
  height: auto; /* Mantiene proporción */
}

.tarjeta-contenido {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Hace que el contenedor crezca según sea necesario */
  justify-content: space-between;
}

.tarjeta p {
  margin-bottom: 16px;
  font-size: 14px;
  color: #333333;
  flex-grow: 1;
}

.tarjeta button {
  background-color: #e71b4c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
  transition: background-color 0.3s;
}

.tarjeta button:hover {
  background-color: #c01740;
}

/* Diseño responsivo */
@media (min-width: 768px) {
  .tarjeta {
    flex: 1 1 calc(33.333% - 20px); /* Hasta 3 tarjetas por fila */
  }
}

/* Estilo Audio */

.audio-player {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boton-audio {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-audio img {
  width: 40px; /* Ajusta el tamaño de las imágenes */
  height: 40px;
}

.hidden {
  display: none; /* Oculta la imagen cuando no está activa */
}

.boton-audio:hover {
  background-color: #a10f1b;
}

.progress-container {
  flex-grow: 1;
  background: #dddddd;
  height: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#progress-bar {
  background: #c1121f;
  height: 100%;
  width: 0;
  border-radius: 5px;
}

span {
  font-size: 14px;
  color: #333333;
}


/* ----------Estilo para contenedor de iframe-----------*/

.contenedor-iframe {
  /* Para usar en video youtube, que se haga responsive */
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.contenedor-iframe iframe {
  /* el iframe que está dentro del contenedor-iframe */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner {
  background-size: contain; /* Ajusta la imagen al tamaño del contenedor manteniendo sus proporciones */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex; /* Opcional: permite ajustar el contenido interno */
  flex-direction: column; /* Opcional: organiza los elementos verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  aspect-ratio: 16/9; /* Opcional: Define una proporción fija para el contenedor */
  height: auto; /* Permite que la altura se adapte a la imagen */
  width: 100%; /* Ajusta el ancho al 100% del contenedor principal */
}
#introduccion {
  background-image: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/Paloma_integrada.gif?v=1731980538494");
}
#bogotaniedad {
  background-image: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/bogotaniedad-banner.jpeg?v=1732217844534");
  background-position: 0 -10px; 
}
#enconcreto {
  background-image: url("https://cdn.glitch.global/2ba34b87-71b8-4ddb-a57a-d646b7e48268/enconctreto-banner.jpeg?v=1732217812372");
}

.banner-articulo {
  background-size: contain; /* Ajusta la imagen al tamaño del contenedor manteniendo sus proporciones */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex; /* Opcional: permite ajustar el contenido interno */
  flex-direction: column; /* Opcional: organiza los elementos verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  aspect-ratio: 4/3; /* Opcional: Define una proporción fija para el contenedor */
  height: 500px; /* Permite que la altura se adapte a la imagen */
  width: 100%; /* Ajusta el ancho al 100% del contenedor principal */
  background-color: pink;
}


/* ----------Estilo para contenedor de video con iframe-----------*/

.contenedor-video {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #f5f5f5; /* Opcional, para un fondo gris claro */
}

.contenedor-video iframe {
  border: 5px solid #cccccc; /* Agrega un marco gris */
  border-radius: 8px; /* Bordes redondeados para un efecto más elegante */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}


/* -------------CONTENEDOR (PADRE E HIJOS) PARA PANTALLA DIVIDIDA--------*/

#contenedor-dividido {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: grey;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#contenedor-izquierdo {
  width: 60%;
  height: auto;
  background-color: green;
  display: inline-block;
  position: relative;
}

#contenedor-derecho {
  width: 40%;
  height: auto;
  background-color: blue;
  display: inline-block;
  position: relative;
}

#contenedor-derecho img {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#contenedor-izquierdo p {
  font-family: digital, serif;
  color: white;
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
  position: relative;
  text-align: justify;
}

#contenedor-izquierdo #contenedor-botones {
  background-color: lightblue;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
  transform: translateX(50%);
}

/* ------------Estilo para contenedor de botones página de botones---------*/

#contenedor-botones2 {
  width: 100%;
  background-color: lightblue;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

/* transformaciones y transiciones */
#trans {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 80px;
  overflow: hidden;
  text-align: center;
  transform: translate(300px, 200px) rotate(45deg) scale(2, 2)
    skew(15deg, 15deg) rotateX(50deg) rotateY(120deg) rotateZ(90deg);

  transition: width 2s, height 2s, background 2s, transform ease-in-out 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}

#trans:hover {
  width: 300px;
  height: 300px;
  background: yellow;
  transform: rotate(30deg);
  /*     transform: rotateX(30deg); */
}

/* -------------- POP UPS-------- */

.ventana-emergente {
  width: 400px;
  height: 300px;
  background-color: white;
  /*   margin-left: auto;
  margin-right: auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); /*restar 50% de él mismo una vez puesto el top de la coordenada en la mitad  */
  display: none; /* Este display no lo muestra */
}
